{% load static %}
<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        {% for article in articles %}
        <div class="item">
            <div class="ins-inner-box">
                <img src="{{ article.image.url }}" alt="" />
                <div class="hov-in">
                    <a href="{% static 'images/' %}{{article.image}}" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- End Instagram Feed  -->


<!-- Start Footer  -->
<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                
                
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Nous contacter</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>144 Xuan thuy, Cau Giay</p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+33769250712">+84 7 69 25 07 12</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:associationndukuteregine@gmail.com">ifip27@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Réseaux sociaux</h3>
                        <p>Suivez -nous sur nos réseaux sociaux :</p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Newsletter</h3>
                        <form class="newsletter-box">
                            <div class="form-group">
                                <input class="" type="email" name="Email" placeholder="Adresse e-mail*" />
                                <i class="fa fa-envelope"></i>
                            </div>
                            <button class="btn hvr-hover" type="submit">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->

<!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company">Tous Droits Reservés. &copy; 2024 <a href="#">chợ 6 giờ</a> Fourni Par :
        Boaz et Jirince</p>
</div>
<!-- End copyright  -->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>