{% load static %}
<!-- Start Main Top -->
<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                
                <div class="right-phone-box">
                    <p>Appellez-nous :<a href="tel:+337 69250712"> +84 7 69 25 07 12</a></p>
                </div>
                <div class="our-link">
                    <ul>
                        <li><a href="{% url "login" %}"><i class="fa fa-user s_color"></i> Mon compte</a></li>
                        
                        <li><a href="{% url "contact" %}"><i class="fas fa-headset"></i> Nous contacter</a></li>
                        <li><a href="{% url 'services' %}" class="">A propos</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="color:#fff; text-align:right">
                <a href="{% url "logout" %}" style="color:#fff;">
                    {{request.user.prenom}} {{request.user.nom}}
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
                <a class="navbar-brand" href="index.html"><img src="{% static 'images/instagram-img-05.jpg' %}" class="logo" alt=""></a>
                <p style="text-align: center; font-size: 14px; color: #555; margin-top: 5px;">
                    <strong>chợ 6 giờ</strong>
                </p>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" href="{% url "accueil" %}">Accueil</a></li>
                    <li><a href="{% url "shop" %}" class="nav-link">Articles</a></li>
                    <li><a href="{% url "panier" %}" class="nav-link">Panier<span class="badge lbl_count" style="font-size:13px;color:red;position:relative;bottom:10px">{{panier.count}}</span></a></li>
                    <!--li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li-->
                    <li class="nav-item"><a class="nav-link" href="{% url "contact" %}">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="">
                <ul>
                    <!--li class="search"><a href="#"><i class="fa fa-search"></i></a></li-->
                    {% comment %} <li class="side-menu">
                        <a href="{% url 'panier' %}">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge lbl_count" style="font-size:13px;color:red;">{{panier.count}}</span>
                            <p>Mon Panier</p>
                        </a>
                    </li> {% endcomment %}
                </ul>
                <label style="display:inline-block;width:150px;">
                    <label class="lbl_feedback" id="lbl_feedback"></label>
                </label>
            </div>
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            
            <li class="cart-box">
                <ul class="cart-list">
                    {% for pan in panier %}
                    <li>
                        <a href="#" class="photo"><img src="{% static 'images/' %}{{pan.article.image}}" class="cart-thumb" alt="" /></a>
                        <h6><a href="{% url "panier" %}">{{pan.article.designation}} </a></h6>
                        <p><span class="price">{{pan.article.devise}}{{pan.article.prix}}</span> - Qté: {{pan.qte}}</p>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
    {% if etiquettes and etiq %}
    <a href="{% url "shop" %}?etiq" class="" style="background:#b0b435;padding:4px;color:#fff;text-transform:capitalize;">Tout</a>
    {% elif etiquettes and not etiq %}
    <a href="{% url "shop" %}?etiq" class="" style="background:#000;padding:4px;color:#fff;text-transform:capitalize;">Tout</a>
    {% endif %}
    {% for etiquette in etiquettes %}
        {% if etiq|stringformat:"s" == etiquette.id|stringformat:"s" %}
            <a href="{% url "shop" %}?etiq={{ etiquette.id }}" class="" style="background:#000;padding:4px;color:#fff;text-transform:capitalize;">{{ etiquette }}</a>
        {% else %}
            <a href="{% url "shop" %}?etiq={{ etiquette.id }}" class="" style="background:#b0b435;padding:4px;color:#fff;text-transform:capitalize;">{{ etiquette }}</a>
        {% endif %}
    {% endfor %}
</header>
<!-- End Main Top -->